<h1>Your Team:</h1>
<ul>
    <% newChamp.forEach((newChamp) => {%>
       <li><a href="/championData/<%=newChamp.championName%>"><%= newChamp.championName%></a></li>
       <%})%>
    </ul> 

</ul>
<h1>Champions:</h1>
<ul>
    <% champs.forEach((champ)=> {%>
        <li><a href="/championData/<%=champ.championName%>"><%= champ.championName%></a>
            <form method="POST" action="/teamBuilder">
                <input hidden type="text" name="name" value="<%= champ.championName %>">
                <button value="<%= champ.championName%>" type="submit">Add to Team</button>
            </form></li>
    <%})%>
</ul>

